import turtle
t = turtle.Turtle()

t.speed(0)
t.begin_fill()
t.color("red")
t.left(140)
t.forward(111)
for x in range(200):
    t.forward(1)
    t.right(1)
t.left(120)
for x in range(200):
    t.forward(1)
    t.right(1)
t.forward(111)
t.end_fill()
